rules_version = '2';

// Craft rules based on the provided default Security Rules for Cloud Storage, but modified
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
